form{
    width: 100vw;
}
.input-box{
    position: relative;
    width: 65%;
    height:50px;
}
.input-box>input{
    width: 100%;
    height: 100%;
}
.input-box >label{
    position: absolute;
    top: 0;
    left: 0;
}