.home-component{
    border-top:  2px solid honeydew;
    border-left:  2px solid honeydew;
    height: calc(100vh - 74px);
    width: 100%;
    border-radius: 10px;
    padding: 5%;
    background-color: #ffffff;
}
input[type="text"]{
    width: 75%;
}
input::placeholder{
    font-size: small;
}

.contents{
    height: 40vh;
}
@media (max-width:767px) {
    /* .home-component{
        position: absolute;
        top: 0;
    } */
}