.points-component{
    border-top:  2px solid honeydew;
    border-left:  2px solid honeydew;
    height: calc(100vh - 74px);
    width: 100%;
    border-radius: 10px;
    padding: 5%;
    background-color: #ffffff;
}