.profile-component{
    border-top:  2px solid honeydew;
    border-left:  2px solid honeydew;
    height: calc(100vh - 74px);
    width: 100%;
    border-radius: 10px;
    padding: 20px 5%;
    background-color: #ffffff;
}
.title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
  color: #2e7d32;
  font-weight: 600;
}

.chart-container {
  width: 100%;
  height: 320px;
}