 .sidenav {
    height: calc(100vh - 74px);
    padding: 20% 10%;
    background-color: #ffffff;
    border: 2px solid honeydew;
    border-radius: 10px;
  
 }
.profile{
   cursor: pointer;
}
 .profile-image-1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url('../assets/img-1.png');
    background-size: cover;
    background-position: center;
 }

 .profile-image-2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url('../assets/img-1.png');
    background-size: cover;
    background-position: center;
 }

 .profile-image-3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url('../assets/img-1.png');
    background-size: cover;
    background-position: center;
 }

 .profile-image-4 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url('../assets/img-1.png');
    background-size: cover;
    background-position: center;
 }

 .profile-image-5 {
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    background-image: url('../assets/img-1.png');
    background-size: cover;
    background-position: center;
 }

 .active{
   border-radius: 10px;
   background-color: rgb(30, 180, 30);
   padding: 0.5rem 2rem;
   
 }
 .inactive{
   padding: 0.5rem;
   cursor: pointer;
      padding: 0.5rem 2rem;

 }
 .close-btn {
    height: 45px;
    width: 45px;
    border-radius: 50%;
 }
@media (min-width: 768px) {
  #sidebar {
    z-index: 0 !important; /* or lower if needed */
  }
}

@media (max-width: 767px) {
  #sidebar {
    z-index: 3 !important;
  }
}

